* {
    border-style: dashed;
}

#card4f {
    width: 30vw ;
    height: 30vh;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    align-items: center;
}

.leftbody3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 20vw;
    height: 30vh;
}

.data4 {    
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 18vw;
    height: 3vh;
    margin: 10px;
    font-weight: bold;
}

.data-text4 {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 8vw ;
    height: 3vh;
}

.rightbody4 {
    display: flex;
    justify-content: right;
    align-items:top;
    width: 8vw ;
    height: 30vh;
}

.logo-4 {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 8vh ;
    height: 8vh;
    border-radius: 50%;
    border-style: solid;
    margin: 10px;
}

#card4b {
    width: 30vw ;
    height: 30vh;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#perusahaan4 {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.icon4 {
    width: 2vh;
    height: 2vh;
}

#nama4, #jabatan4, #alamat4, #email4, #email4, #phone4, #website4 {
    display: flex;
    justify-content: left;
    align-items:center;
    margin: 10px;
    width: 15vw ;
    height: 3vh;
}
