* {
    border-style: dashed;
}

#card3f {
    width: 30vw ;
    height: 30vh;
    display: flex;
    /* display: none; */
    justify-content: space-between;
    align-items: center;
}

.leftbody3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 12vw ;
    height: 30vh;
    border-right: solid;
}

.lefttop3 {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 12vw ;
    height: 10vh;
    border-bottom: solid;
    font-size: large;
    font-weight: bolder;
}

.logo-3 {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 6vh ;
    height: 6vh;
    border-radius: 50%;
    border-style: solid;
}

#logo3{
    width: 4vh ;
    height: 4vh;
}

.data3L {    
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto ;
    height: 8vh;
    margin-left: 10px;
}

.leftbuttom3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 12vw ;
    height: 20vh;
    background-color: whitesmoke;

}

.data3 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 10vw ;
    height: 4vh;
    margin: 10px;
    font-weight: bold;

}

.data-text3 {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 8vw ;
    height: 4vh;
}

.rightbody3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 15vw ;
    height: 30vh;
    border-left: solid;
}

.righttop3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 15vw ;
    height: 15vh;
    border-bottom: solid;
    border-left: solid;
    font-size: large;
    font-weight: bolder;
    background-color: whitesmoke;
}

.rightbuttom3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 15vw ;
    height: 15vh;
    border-left: solid;

}

.icon3 {
    width: 2vh;
    height: 2vh;
}

.qrcode3 {
    width: 10vh;
    height: 10vh;
    border: solid;
}

#nama3, #jabatan3 {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    width: 10vw ;
    height: 4vh;
}

#card3b {
    width: 30vw ;
    height: 30vh;
    display: flex;
    /* display: none; */
    justify-content: space-between;
    align-items: center;
}

.logo-3b {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 8vh ;
    height: 8vh;
    border-radius: 50%;
    border-style: solid;
}

#logo3b{
    width: 6vh ;
    height: 6vh;
}

.data3b {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 10vw ;
    height: 10vh;
    margin: 10px;
    font-weight: bold;
}

.data-text3b {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 8vw ;
    height: 10vh;
}

#alamat3, #website3 {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    width: 10vw ;
    height: 4vh;
}