* {
    /* border-style: dashed; */
    border-width: 1px;
}

body {
    margin: 4vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 80vw ;
    height: 90vh;
}

.absolute {
    position: absolute;
    z-index: 2;
}

.mainform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 30vw ;
    height: 45vh;
    border-style: solid;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 28vw ;
    height: 4vh;
}

.form-img {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 4vh ;
    height: 4vh;
}

.form-text {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 3vw ;
    height: 4vh;
}

.form-box {
    width: 20vw ;
    height: 4vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 20vw ;
    height: 4vh;
}

#icon {
    width: 3vh ;
    height: 3vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items:center;
}

.card {
    width: 30vw ;
    height: 30vh;
    margin: 0 2vw;
    display: flex;
    justify-content: right;
    align-items:center;
    border-style: solid;
}


#card2f {
    width: 30vw ;
    height: 30vh;
    /* display: flex; */
    display: none;
    justify-content: right;
    align-items:center;
}

.main-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width: 25vw ;
    height: 30vh;
    border-radius: 40% 0 0 40%;
    background-color: #f3f5e8;
    border-style: solid;
}

.data2 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 15vw ;
    height: 5vh;
}

.icon2 {
    width: 2vh;
    height: 2vh;
}

.data-text2 {
    width: 13vw;
    height: 2vh;
    font-weight: bold;
}

.data-text2L {
    display: flex;
    justify-content: left;
    align-items:center;
    text-align: left;
    width: 13vw;
    height: 5vh;
    font-weight: bold;

}

.logo-container2 {
    position: absolute;
    width: 20vh ;
    height: 20vh;
    z-index: 1;
    margin-right: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: black;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

}

#nama2, #jabatan2 {
    width: 8vw ;
    height: 4vh;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#card2b {
    width: 30vw ;
    height: 30vh;
    /* display: flex; */
    display: none;
    justify-content: left;
    align-items:center;
}

.main-container2b {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 25vw ;
    height: 30vh;
    border-radius: 0 40% 40% 0;
    background-color: #f3f5e8;
    border-style: solid;
}

.logo-container2b {
    position: absolute;
    width: 20vh ;
    height: 20vh;
    z-index: 1;
    margin-left: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: black;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

#logo2{
    width: 12vh ;
    height: 12vh;
}

.data2b {
    margin-left: 3vw;
    font-weight: bold;

}

#card3f {
    width: 30vw ;
    height: 30vh;
    display: flex;
    /* display: none; */
    justify-content: space-between;
    align-items: center;
    border-style: solid;
}

.trapesium1 {
    position: absolute;
    border-top: 30vh solid #e8f5ea;
	border-right: 8vw solid transparent;
	height: 0px;
	width: 10vw;
    z-index: -2;
}

.trapesium2 {
    position: absolute;
    border-bottom: 30vh solid #f3f5e8;
	border-left: 8vw solid transparent;
	height: 0px;
	width: 10vw;
    z-index: -1;
    margin-left: 12vw;
}

.leftbody3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 12vw ;
    height: 30vh;
    border-right: solid;

}

.lefttop3 {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 12vw ;
    height: 10vh;
    border-bottom: solid;
    font-size: large;
    font-weight: bolder;
}

.logo-3 {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 6vh ;
    height: 6vh;
    border-radius: 50%;
    border-style: solid;
}

#logo3{
    width: 4vh ;
    height: 4vh;
}

.data3L {    
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto ;
    height: 8vh;
    margin-left: 10px;
}

.leftbuttom3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 12vw ;
    height: 20vh;
}

.data3 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 10vw ;
    height: 4vh;
    margin: 10px;
    font-weight: bold;

}

.data-text3 {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 8vw ;
    height: 4vh;
}

.rightbody3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 15vw ;
    height: 30vh;
    border-left: solid;
}

.righttop3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 15vw ;
    height: 15vh;
    border-bottom: solid;
    border-left: solid;
    font-size: large;
    font-weight: bolder;
}

.rightbuttom3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 15vw ;
    height: 15vh;
    border-left: solid;

}

.icon3 {
    width: 2vh;
    height: 2vh;
}

.qrcode3 {
    width: 10vh;
    height: 10vh;
    border: solid;
}

#nama3, #jabatan3 {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    width: 10vw ;
    height: 4vh;
}

#card3b {
    width: 30vw ;
    height: 30vh;
    display: flex;
    /* display: none; */
    justify-content: left;
    align-items: center;
}

.rightbody3b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 18vw ;
    height: 30vh;
}

.righttop3b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 18vw ;
    height: 15vh;
    border-bottom: solid;
    font-size: large;
    font-weight: bolder;
    /* background-color: whitesmoke; */
}

.rightbuttom3b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 18vw ;
    height: 15vh;
}


.logo-3b {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 8vh ;
    height: 8vh;
    border-radius: 50%;
    border-style: solid;
}

#logo3b{
    width: 6vh ;
    height: 6vh;
}

.data3b {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 10vw ;
    height: 10vh;
    margin: 10px;
    font-weight: bold;
}

.data-text3b {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 8vw ;
    height: 10vh;
}

#alamat3, #website3 {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    width: 10vw ;
    height: 4vh;
}

#card4f {
    width: 30vw ;
    height: 30vh;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    align-items: center;
}

.leftbody4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 20vw;
    height: 30vh;
}

.data4 {    
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 18vw;
    height: 3vh;
    font-weight: bold;
    margin: 2px;
}

.data-text4 {
    display: flex;
    justify-content: left;
    align-items:center;
    width: 8vw ;
    height: 3vh;
}

.rightbody4 {
    display: flex;
    justify-content: right;
    align-items:top;
    width: 8vw ;
    height: 30vh;
}

.logo-4 {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 8vh ;
    height: 8vh;
    border-radius: 50%;
    border-style: solid;
    margin: 10px;
}

#card4b {
    width: 30vw ;
    height: 30vh;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#perusahaan4 {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.icon4 {
    width: 2vh;
    height: 2vh;
}

#nama4, #jabatan4, #alamat4, #email4, #email4, #phone4, #website4 {
    display: flex;
    justify-content: left;
    align-items:center;
    margin: 10px;
    width: 15vw ;
    height: 3vh;
}
