/* task2.css */


.maincontainer {
	display: flex;
	justify-content: center;

}

.cardcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card1 {
	width: 600px;
	height: 300px;
	background-image: url("card3.jpg");
	border-radius: 20px;
	padding: 25px;
	margin: 25px;
}

.card2 {
	width: 600px;
	height: 300px;
	background-color: white;
	border-radius: 20px;
	padding: 25px;
	margin: 25px;
	font-family: 'Heebo', sans-serif;
	border-style: solid;

}

.card3 {
	display: flex;
	justify-content: center;
	width: 600px;
	height: 300px;
	background-image: url("card5.jpg");
	border-radius: 20px;
	padding: 25px;
	margin: 25px;
}

.card4 {
	display: flex;
	justify-content: center;
	width: 600px;
	height: 300px;
	border-radius: 20px;
	padding: 25px;
	margin: 25px;
	background-color: black;

}


#picture1 {
	width: 100px;
}

#picture2 {
	filter: invert(1);	
	width: 200px;
}

.company1 {
		display: flex;
		justify-content: center;
		align-items: center;	
		flex-direction: column;
	}

.header1 {
		text-align: center;
		line-height: 25px;
		font-size: 25px;
	}

.info1 {
		text-align: left;
	}

.company2 {
		display: flex;
		justify-content: center;
		align-items: end;	
		flex-direction: column;

}

.header2 {
		text-align: left;
		line-height: 20px;
		font-size: 25px;

}

.info2 {
		display: flex;
		text-align: left;
		line-height: 15px;

	}

.company3 {
		display: flex;
		justify-content: center;
		align-items: center;	
		flex-direction: column;
		color: white;
	}
	
.info3 {
		display: flex;
		justify-content: center;
		align-items: center;	
		flex-direction: column;
		text-align: left;
		padding-left: 25px;

	}
	
.header3 {
		text-align: center;
		line-height: 25px;
		font-size: 25px;

	}

.company4 {
		display: flex;
		justify-content: center;
		align-items: center;	
		flex-direction: column;
		color: white;
		background-color: black;
		width: 50%;

	}
	
.info4 {
		display: flex;
		justify-content: center;
		align-items: center;	
		flex-direction: column;
		text-align: left;
		background-color: white;


	}
	
.header4 {
		text-align: center;
		line-height: 25px;
		font-size: 25px;

	}
