/* task1.css */


* {
	color: black;
	box-sizing: border-box;
}

.flex-container {
	display: flex;
	flex-direction: column;
	background-color: DodgerBlue;
	padding: 25px;
	width: 700px;
	justify-content: center;
	border-radius: 20px;
}

.header {
	text-align: center;
	line-height: 5px;
	font-size: 20px;
}

.body {
	display: flex;
	text-align: left;
	justify-content: space-between;
}

.leftbody {
	margin-left: 10px
}

#topbodytext {
	font-size: 25px;
	font-family: OCR-A, monospace;
}

.paddingtext {
	padding-left: 40px;
}

.rightbody {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-left: 25px;
	margin-right: 50px
}
