/* task5.css */


.body-box{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content:space-between; 
	width: 500px;
	background-color: #009879;
	color: #ffffff;
	padding: 20px;
	min-width: 500px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#namev, #agev{
	width: 250px;
	height: 25px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.form-box{
		
}

#submitbutton{
	width: 100px;
	height: 50px;
	margin-right: 50px;
	font-size: 12pt;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.table-box{

	padding: 5px 0px;
	text-align: center;
}

.styled-table {
	width: 540px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}