* {
    /* border-style: dashed; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 10vh;
    border-style: solid;
    box-shadow: 0px 5px 18px #888888;
    background-color: #42b549;
}

.body {
    border-left: solid;
    border-right: solid;
    width: auto;
    height: 80vh;
}

.top-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 15vh;
    box-shadow: 0px 5px 18px #888888;
}

.catagory-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 13vh;
    text-align: center;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.catagory-image {
    width: auto;
    height: 7vh;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

.catagory-text {
    font-weight: bold;
    font-size: 15pt;
}

.product-text {
    font-size: 13pt;
    text-align: justify;
    padding: 5px;
}

.product-image {
    width: 19vw;
    height: 15vh;
    border-style: solid;
    margin: 5px;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 65vh;
    overflow: scroll;
    overflow-x: hidden;
}

.product-card {
    width: 20vw;
    height: auto;
    text-align: center;
    border-style: solid;
    border-color: #42b549;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin: 10px;
}

.product-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-style: solid;
    width: auto;
    height: 5vh;
    text-align: center;
    background-color: #42b549;
}

#logo {
    width: 120px;
    margin-left: 20px;
}

#searchimg {
    height: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
}

.search-container input[type=text] {
    width: 300px;
    height: 30px;
}

.btn {
    text-align: center;
    height: 37px;
    width: auto;
}

.round-image {
    border-radius: 50%;
    height: 8vh;
    margin-right: 20px;
    border-style: solid;
    border-color: white;
}

.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
}