/* task4.css */


* {
	color: #5f6368;
	box-sizing: border-box;
	font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
	margin: 0px;
}


.container {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top:150px;
	padding: 48px 40px 36px;
	width: 748px;
	height: 607px;
	justify-content: center;
	border-style: solid;
	border-color: #e0e0e0;
	border-width: 1px;	
	border-radius: 5px;
}

.leftcontainer {
	margin-right: 50px;
	width: 354px;
	height: 607px;
	justify-content: center;
	border-width: 1px;	
	border-radius: 5px;
}

.rightcontainer {
	width: 252px;
	height: 607px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;	
	border-width: 1px;	
	border-radius: 5px;
}

.header {
	margin-top: 50px;
	text-align: left;
	line-height: 5px;
    font-size: 24px;
}

.body {
	text-align: center;
	line-height: 5px;
	font-size: 20px;
	padding: 24px 0px 0px;

}


#logo {
		width: 75px;
}

#loginhead {
	padding: 16px 0px 0px;
	font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
	color: black;
}

#loginbody {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
	padding: 8px 0px 0px;

}

.nama {
    display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 16px;
    height: 44px;
	width: 354px;
    padding: 6px 8px;
}

.fillnama {
    display: flex;
	text-align: left;
	justify-content: center;
	align-items: center;
	font-size: 16px;
    height: 32px;
	width: 169px;
    padding: 6px 8px;
	margin: 4px;
}

.email {
	display: block;
	height: 36px;
	width: 354px;
	margin-top: 24px;
}


.inputemail {
    font-size: 16px;
    height: 36px;
	width: 354px;
    margin: 1px 1px 0px;
    padding: 7px 9px;
}

.keterangan1 {
    font-size: 14px;
    margin: 1px 1px 0px;
    padding: 7px 9px;
}

.keterangan2 {
    font-size: 14px;
    padding: 7px 9px;
}

#textketerangan {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.1px;
	line-height: 1.5;
}

.buttonbiru {
	margin: 10px 0 50px 0;
		text-align: left;

}

#a1:link, #a1:visited, #a1:hover, #a1:active {
	color: #1a73e8;
	background-color: transparent;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
	font-weight: 600;
    letter-spacing: .25px;
	width: 354px;
	height: 48px;
	text-align: left;
	}

.sandibox {
    display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	margin-top: 24px;
}
.sandi {
    font-size: 16px;
    height: 32px;
	width: 169px;
	margin: 4px;
    padding: 6px 8px;
}

.boxtampilkan {
    display: flex;
	justify-content: left;
	align-items: center;
	height: 52px;
	width: 368px;
}

#check {
    transform: scale(1.5);
}

#texttampilkan {
    text-align: left;
	font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
	margin-left: 24px;
	color: black;
}

.bottombutton {
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 368px;
	margin-top: 26px;
    padding-bottom: 20px;
}

#a2:link, #a2:visited, #a2:hover, #a2:active {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #1a73e8;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
	font-weight: 600;
    letter-spacing: .25px;
	width: 120px;
	height: 35px;
	border-radius: 5px;
	}
	
.footer {
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 748px;

}

.footer1 {
	display: flex;
	text-align: left;
	justify-content: left;
	align-items: center;
	width: 500px;
	height: 48px;
    padding: 8px 8px;

}
.footer2 {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 48px;
    padding: 6px 16px;
}
#a3:link, #a3:visited, #a3:hover, #a3:active {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
    letter-spacing: .25px;

	}
#a4:link, #a4:visited, #a4:hover, #a4:active {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
    letter-spacing: .25px;

	}
	
.akungoogle {
	
}
