* {
    /* border-style: dashed; */
    margin: 0;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;

}

.body {
    display: flex;
    justify-content: center;
    background-color: #E8FBE1;

}

.main-body {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 75vw;
    height: 93vh;
    box-shadow: -5px -5px 5px #888888;
    background-color: #E8FBE1;
}

.main-image {

}

#image1 {
    width: auto;
    height: 80vh;
}

#image2 {
    width: auto;
    height: 15vh;
}

.round-image{
    border-radius: 50%;
    box-shadow: -5px -5px 5px #888888;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    height: 93vh;
    border-left: solid;
    border-radius:  10% 0 0 0;
    box-shadow: -5px -5px 5px #888888;
    background-color: #FAF8DF;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 20vh;
    margin-top: 5vh;
}

#product-name {
    margin-top: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 30vh;
}

.checkbox-container {
    margin: 10px 20px;
    width: 20vw;
}

.register {
    position: absolute;
    right: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 75vw;
    height: 6vh;
    border-top: solid;
    box-shadow: -5px -5px 5px #888888;
    background-color: #FAF8DF;

}

.footer-corner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 25vw;
    height: 6vh;
    background-color: #FAF8DF;
}

input[type=text], input[type=password] {
    border-style: solid;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #888888;
    padding: 0px 10px;
    width: 20vw;
    height: 50px;
    font-size: large;
    margin: 10px 20px;
}

button[type=submit] {
    width: 10vw;
    height: 40px;
    font-size: large;
    margin: 10px 20px;
    transition-duration: 0.5s;

}