* {
    /* border-style: dashed; */
    margin: 0;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items:center;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 75vw;
    height: 93vh;
    background-color: #E8FBE1;

}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 70vh;
    margin-left: auto;
    border-style: solid;
    border-right: 0;
    border-radius: 15px 0 0 15px;
    box-shadow: -5px 5px 5px #888888;
    background-color: white;
}    

.row-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=email], input[type=password] {
    border-style: solid;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #888888;
    padding: 0px 10px;
}

.form-box {
    width: 20vw;
    height: 50px;
    margin: 10px 20px;
    font-size: large;
}

.password-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-box2 {
    width: 20vw;
    height: 140px;
    margin: 10px 20px;
    font-size: large;
}

#register-box{
    width: 10vw;
    height: 50px;
    margin: 20px 50px;
}

.right-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 100vh;
    border-left: solid;
    box-shadow: -5px 5px 5px #888888;
    background-color: #FAF8DF;
}

#image1 {
    width: 10vw;
    height: auto;
}

#image2 {
    width: 10vw;
    height: 40vh;
    margin-top: 5vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 75vw;
    height: 7vh;
    background-color: #E8FBE1;
}

.login {
    position: absolute;
    left: 20px;
}

.round-image{
    border-radius: 50%;
}